In [2]:
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFECV

In [3]:
df_csv = pd.read_csv("covtype.data", header = None)

fila = ['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
        'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
        'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
        'Horizontal_Distance_To_Fire_Points']

for i in range(1, 5):
    col_name = f'Wilderness_Area{i}'
    fila.append(col_name)

for i in range(1, 41):
    col_name = f'Soil_Type{i}'
    fila.append(col_name)
fila.append("Cover_Type")

In [4]:
df_csv.columns = fila

In [5]:
df_csv

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [ ]:
# Seleccionar todas las columnas que comienzan con "Soil_Type"
soil_cols = df_csv.filter(like='Soil_Type').columns

# Unir todas las columnas en una sola columna "Soil_Type"
df_csv['Soil_Type'] = df_csv[soil_cols].apply(lambda x: x.any(), axis=1)

# Reemplazar los valores de cero por uno
df_csv['Soil_Type'] = df_csv['Soil_Type'].apply(lambda x: 1 if x == False else x)

# Crear una lista con los nombres de las columnas a eliminar
cols_to_drop = [f"Soil_Type{i}" for i in range(1, 41)]

# Eliminar las columnas de la lista
df_csv = df_csv.drop(cols_to_drop, axis=1)

# Seleccionar todas las columnas que comienzan con "Wilderness_Area"
wild_cols = df_csv.filter(like='Wilderness_Area').columns

# Unir todas las columnas en una sola columna "Wilderness_Area"
df_csv['Wilderness_Area'] = df_csv[wild_cols].apply(lambda x: x.any(), axis=1)

# Reemplazar los valores de cero por uno
df_csv['Wilderness_Area'] = df_csv['Wilderness_Area'].apply(lambda x: 1 if x == False else x)

# Crear una lista con los nombres de las columnas a eliminar
cols_to_drop = [f"Wilderness_Area{i}" for i in range(1, 5)]

# Eliminar las columnas de la lista
df_csv = df_csv.drop(cols_to_drop, axis=1)

In [ ]:
df_csv

In [7]:
clf = RandomForestClassifier(random_state=100)

X = df_sample.drop('Cover_Type', axis=1)
y = df_sample['Cover_Type']

clf.fit(X, y)

importancias = clf.feature_importances_

df_imp = pd.DataFrame({'Variables': X.columns, 'Importancias': importancias})

df_imp = df_imp.sort_values(by='Importancias', ascending=False)

df_imp['Acumuladas'] = df_imp['Importancias'].cumsum()

variables_seleccionadas = df_imp[df_imp['Acumuladas'] <= 0.95]['Variables']

df_seleccionado = df_csv[variables_seleccionadas]

In [8]:
df_seleccionado

,Elevation,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Aspect,Hillshade_Noon,Hillshade_3pm,Hillshade_9am,Wilderness_Area4,...,Soil_Type4,Soil_Type38,Wilderness_Area3,Soil_Type23,Soil_Type12,Soil_Type39,Soil_Type2,Soil_Type10,Wilderness_Area1,Soil_Type29
0,2596,510,6279,258,0,51,232,148,221,0,...,0,0,0,0,0,0,0,0,1,1
1,2590,390,6225,212,-6,56,235,151,220,0,...,0,0,0,0,0,0,0,0,1,1
2,2804,3180,6121,268,65,139,238,135,234,0,...,0,0,0,0,1,0,0,0,1,0
3,2785,3090,6211,242,118,155,238,122,238,0,...,0,0,0,0,0,0,0,0,1,0
4,2595,391,6172,153,-1,45,234,150,220,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,108,837,85,17,153,237,118,240,0,...,0,0,1,0,0,0,1,0,0,0
581008,2391,95,845,67,12,152,237,119,240,0,...,0,0,1,0,0,0,1,0,0,0
581009,2386,90,854,60,7,159,241,130,236,0,...,0,0,1,0,0,0,1,0,0,0
581010,2384,90,864,60,5,170,245,143,230,0,...,0,0,1,0,0,0,1,0,0,0
581011,2383,67,875,60,4,165,244,141,231,0,...,0,0,1,0,0,0,1,0,0,0

In [ ]:
df_seleccionado['Soli']